/*--begining of the css--*/

/*--importing font--*/
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Nunito');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*--standard styling--*/
body {
    font-family: 'Nunito',serif;
	  color: black;
	  text-align: justify;
}

	h1 {
		font-size: 4vw;
	}

  h3 {
		font-size: 3.3vw
}

  h2 {
    text-align: center;
    padding-top: 1%;
		font-size: 3.7vw;
}

  h4 {
		font-size: 2.8vw;
}

footer {
    font-family: 'Indie Flower', 'Nunito', serif;
    font-size: 1vw;
    text-align: right;
}

#email {
    color: black;
}

#about, #school, #contact {
  background-color: #FFFFED;
  left: 0;
}

#homepage,#experience, #hobbies {
  background-color: white;
}

/*--end of standard styling--*/

/*--link decorations--*/
a:link {
    text-decoration: none;
    color: #6B238E;
}

a:visited {
    text-decoration: none;
    color: #6B238E;
    background-color: white;
}

a:hover{
    text-decoration: underline;
    background-color: #FFFFED;
}

a {
    padding: 2px;
}
/*--end of link decorations--*/

/*--profile picture--*/
#profilePicture {
  border-radius: 50%;
}
/*--end of profile picture--*/

/*--styling the nav bar--*/

nav {
    background-color: white;
    width: 100%;
    margin: 1% auto;
    overflow: hidden;
}

nav ul  {
    	list-style: none;
    	overflow: hidden;
    }

nav li a {
    	font-size: 120%;
    	font-weight: 600;
    	text-align: center;
    	text-decoration: none;
    	transition: background 0.5s ease;
      background: #737373;
    }

/*--end of styling od the navbar--*/

/*--editing the parallax effect--*/
	#parallax1.parallax-container {
		height: 30vh;
	}

	.parallax-container {
		height: 50vh;
	}
/*-- end of editing the first parallax effect--*/

/*--display the profile pic and the intro on the same line--*/
#profilePicture, #intro {
  display: inline-block;
}

#profilePicture {
  width: 30%;
  padding: 2%;
  margin-top: 7%;
}

#homepage {
  padding: 10%;
}
/*--end of homepage styling--*/

/*--about section - styling the greeting--*/
 #greeting, .summary {
  display: inline-block;;
}

#greeting {
  font-family: 'Indie Flower', serif;
  font-size: 15vw;
  margin-left: 2%;
}

.summary {
  margin: 2%;
  text-align: left;
  padding-left: 2%;
  padding-bottom: 5%;
}
/*--end of styling the greeting--*/

/*--experience section styling--*/
.job {
  /*width: 45vw;*/
  height: 100%;
  /*margin: 0.5%;*/
}

#experience {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
}
/*--end of experience--*/

/*--media queries--*/
@media only screen and (max-width: 780px) {
	p {
		font-size: 2.5vw;
	}

	details {
		font-size: 2.5vw;
	}

	.lists {
		font-size: 2.5vw;
	}


	#greeting{
			margin: 0 33%;
	}
}
