/*--begining of the css--*/

/*--importing font--*/
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Nunito');

/*--standard styling--*/
body {
    background-color: white;
    font-family: 'Nunito',serif;
    padding: 2%;
	  font-size: 22px;
	  color: black;
	  line-height: 26px;
	  text-align: justify;
}

 h2 {
    border-bottom: solid 2px;
}

footer {
    font-family: 'Indie Flower', 'Nunito', serif;
    font-size: 65%;
}

#email {
    color: black;
    font-size: 100%;
}


section {
  display: block;
}

#about, #school, #contact {
  background-color: #82CFFD;
}

/*--end of standard styling--*/

/*--link decorations--*/
a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: #6B238E;
}

a:hover{
    text-decoration: underline;
}

a {
    padding: 2px;
    font-size: 150%;


}
/*--end of link decorations--*/

/*--nav styling--*/
nav {
    background-color: #82CFFD;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;

    }

nav ul  {
    	list-style: none;
    	overflow: hidden;
    }

nav li a {
    	border-right: 1px solid #454545;
    	display: block;
    	float: left;
    	font-size: 120%;
    	font-weight: 600;
    	padding: 1%;
    	text-align: center;
    	text-decoration: none;
    	width: 17%;
    	transition: background 0.5s ease;
    }

nav li:last-child a {
    	border: none;
    }
/*--end of nav styling--*/

/*--profile picture--*/
img {
  border-radius: 50%;
}
/*--end of profile picture--*/

/*--styling the greeting--*/
#greeting {
      font-family: 'Indie Flower', serif;
      font-size: 130%;
}
/*--end of styling the greeting--*/

/*--display the profile pic and the intro on the same line--*/
img, #intro {
  display: inline-block;
}

img {
  width: 30%;
  padding: 2%;
  position: relative;
  margin-top: 7%;
}

#intro {
  width: 60%;
  position: relative;
  padding: 2%;
}
/*--end of homepage styling--*/
