/*--begining of the css--*/

/*--importing font--*/
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Nunito');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*--standard styling--*/
body {
    font-family: 'Nunito',serif;
	  font-size: 22px;
	  color: black;
	  line-height: 26px;
	  text-align: justify;
}

 h2 {
    text-align: center;
    padding-top: 1%;
}

footer {
    font-family: 'Indie Flower', 'Nunito', serif;
    font-size: 65%;
    text-align: right;
}

#email {
    color: black;
    font-size: 100%;
}

#about, #school, #contact {
  background-color: #FFFFED;
  font-size: 85%;
  width: 100%;
  left: 0;
  float:left;
}
#homepage,#experience, #hobbies {
  font-size: 85%;
  width: 100%;
  float: left;
  background-color: white;
}

/*--end of standard styling--*/

/*--link decorations--*/
a:link {
    text-decoration: none;
    color: #6B238E;
}

a:visited {
    text-decoration: none;
    color: #6B238E;
    background-color: white;
}

a:hover{
    text-decoration: underline;
    background-color: #FFFFED;
}

a {
    padding: 2px;
    font-size: 150%;
}
/*--end of link decorations--*/

/*--profile picture--*/
#profilePicture {
  border-radius: 50%;
  height: 50%;
  width: 50%;
}
/*--end of profile picture--*/

/*--styling the nav bar--*/

nav {
    background-color: white;
    width: 100%;
    margin: 1% auto;
    overflow: hidden;
}

nav ul  {
    	list-style: none;
    	overflow: hidden;
    }

nav li a {
    	font-size: 120%;
    	font-weight: 600;
    	text-align: center;
    	text-decoration: none;
    	transition: background 0.5s ease;
      background: #737373;
    }

/*--end of styling od the navbar--*/
