
/*--begining of the css--*/

/*--importing font--*/
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Nunito');

/*--standard styling--*/
body {
    background-color: white;
    font-family: 'Nunito',serif;
	  font-size: 22px;
	  color: black;
	  line-height: 26px;
	  text-align: justify;
}

 h2 {
    text-align: center;
    padding-top: 1%;
}

footer {
    font-family: 'Indie Flower', 'Nunito', serif;
    font-size: 65%;
    text-align: right;
}

#email {
    color: black;
    font-size: 100%;
}


section {
  display: block;
}

#about, #school, #contact {
  background-color: #FFFFED;
  font-size: 85%;
  width: 100%;
  left: 0;
  float:left;
}
#experience, #hobbies {
  font-size: 85%;
  width: 100%;
  float: left;
  background-color: white;
}

/*--end of standard styling--*/

/*--link decorations--*/
a:link {
    text-decoration: none;
    color: #6B238E;
}

a:visited {
    text-decoration: none;
    color: #6B238E;
}

a:hover{
    text-decoration: underline;
}

a {
    padding: 2px;
    font-size: 150%;


}
/*--end of link decorations--*/

/*--nav styling--*/

header {
  position: fixed;
  width: 100%;
  overflow: hidden;
  left: 0;
  top: 0;
}

nav {
    background-color: white;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
  }

nav ul  {
    	list-style: none;
    	overflow: hidden;
    }

nav li a {
    	border-right: 1px solid #454545;
    	display: block;
    	float: left;
    	font-size: 120%;
    	font-weight: 600;
    	padding: 1%;
    	text-align: center;
    	text-decoration: none;
    	width: 17%;
    	transition: background 0.5s ease;
    }

nav li:last-child a {
    	border: none;
    }
/*--end of nav styling--*/

/*--profile picture--*/
#profilePicture {
  border-radius: 50%;
}
/*--end of profile picture--*/

/*--display the profile pic and the intro on the same line--*/
#profilePicture, #intro {
  display: inline-block;
}

#profilePicture {
  width: 28%;
  padding: 2%;
  margin-top: 7%;
}

#intro {
  width: 58%;
  padding: 2%;
  margin-bottom: 7%;
}

#homepage {
  padding: 10%;
}
/*--end of homepage styling--*/

/*--about section - styling the greeting--*/
 #greeting, .summary {
  display: inline-block;;
}

#greeting {
  font-family: 'Indie Flower', serif;
  font-size: 1300%;
  margin-left: 2%;
  float: left;
  padding-top: 11%;
}

.summary {
  margin: 2%;
  text-align: left;
  padding-left: 2%;
  padding-bottom: 5%;
}

/*--end of styling the greeting--*/

/*--experience section styling--*/
.job {
  float: left;
  width: 45%;
  height: 100%;
  margin: 0.5%;
}

#experience {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
}
/*--end of experience--*/

/*--styling the social buttons--*/
.socialButton, footer p {
  float: right;
}

.socialButton {
  width: 38px;
  margin: 0 5px;
}
/*--end of social buttons--*/

/*--styling the interests--*/
#hobbies p {
  text-indent: 5%;
  text-align: left;
  column-count: 3;
  padding-left: 2%;
}
/*--end of interests--*/

/*--contact me section--*/
#contact {
  text-indent: 2%;
  line-height: 0;
}
/*--and of contact section--*/

/*--education section--*/
#school {
  text-indent: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
}

.school {
  float: left;
  width: 45%;
  height: 100%;
  margin: 0.5%;
}
/*--end of education section--*/

/*--media responsiveness for tablet---*/
@media only screen and (max-width: 780px) {
  nav li a {
    font-size: 100%;
  }

  #greeting {
    font-size: 1000%;
    padding-bottom: 7%;
    width: 100%;
    display: block;
    text-align: center;
  }

  .job {
    display: block;
    width: 96%;
    text-indent: 2%;
    padding: 0 2%;
  }

  h3 .job {
    text-decoration: underline;
  }



  .school {
    display: block;
    width: 96%;
    padding: 0 2%;
    text-indent: 2%;
  }

}

/*--media responsiveness for mobile phones--*/
@media only screen and (max-width: 380px) {
body {
  font-size: 60%;
  line-height: 5px;
}

p {
  line-height: normal;
}

li {
  line-height: normal;
}

nav {
  font-size: 60%;
}

#intro {
  font-size: 70%;
  line-height: 3px;
}

#greeting {
  font-size: 700%;
  padding-bottom: 7%;
  width: 100%;
  display: block;
  text-align: center;
}

.job {
  display: block;
  width: 94%;
  text-indent: 2%;
  padding: 0 3%;
}

h3 .job {
  text-decoration: underline;
}

.school {
  display: block;
  width: 94%;
  padding: 0 3%;
  text-indent: 2%;
}

#hobbies {
  column-count: 1;
}

}
