/*--styling the job2 page--*/

body {
	background-color: white;
}
.logo {
	width: 20vw;
}

h4 {
	font-size: 3vw;
}

h6 {
	font-size: 1.5vw;
}

#parallax1.parallax-container {
	height: 20vh;
}

.center-align, .description, .skills, .projects {
	padding: 1vw;
}

.skills {
	text-indent: 1vw;
}

.skills>p {
	font-size: 1.5vw;
	padding: 1vw;
}
