/*--styling the job1 page--*/
body {
	background-color: white;
}
.logo {
	width: 50vw;
	height: 30vh;
}

h4 {
	font-size: 3vw;
}

h6 {
	font-size: 1.5vw;
}

#parallax1.parallax-container {
	height: 20vh;
}

.center-align, .description, .skills, .skills>p, .projects {
	padding: 1vw;
}

li.projects, .skills>p {
	font-size: 1.5vw;
}

#wrapper{
	background-image: url("~/images/desktop-office.jpg");
}
/*--end of styling of extra pages--*/
